.container {
  width: 65%;
  margin: 10px auto 0 auto;
}
.newPost {
  align-self: flex-end;
  border: 1px solid #777;
  padding: 3px;
  border-radius: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
}
.newPost > i {
  margin-right: 6px;
}
.post {
  margin-bottom: 10px;
  clear: both;
}
.post:nth-child(odd) > .post-container > .date {
  background-color: #961313;
}
.post:nth-child(odd) > .post-container > .post-content {
  background-color: #ffaaaa;
}
.post-container {
  margin: 5px auto;
  display: flex;
}
.date {
  background-color: #42912e;
  width: 75px;
  height: 65px;
  border-radius: 15px;
  text-align: center;
  color: white;  
  display: flex;
  margin-right: 7px;
}
.date > div {
  margin: auto;
}
.date-day {
  font-size: 26px;
}
.date-month {
  text-transform: uppercase;
}
.post-content {
  width: 100%;
  background-color:#d0fcb3;
  padding: 0 10px;
  border-radius: 15px;
  display: flex;
}
.post-body {
  width: 100%;
}
.post-body > h3 {
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 5px;
}
.button-container > div {
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  margin: 2px 0;
  cursor: pointer;
}
.comment-container {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}
